$aquamarine: #0c8397;
$aquamarine-dark: #1180aa;

$ruby: #cb4545;

$sunstone: #ee7033;

$emerald: #12a580;
$emerald-dark: #12a580;

$spinel: #d51271;

$zircon: #c89616;
$zircon-light: #fbbb1b;

$diamond: #ffffff;

$moonstone: #cccccc;
$moonstone-dark: #807e7e;
