._spacer {
  margin-bottom: 15px !important;
}

._spacer-md {
  margin-bottom: 25px !important;
}

._spacer-large {
  margin-bottom: 40px !important;
}

._spacer-xlarge {
  margin-bottom: 60px !important;
}

._text-right {
  text-align: right;
}
